body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}


/* nav */

.nav {
    position: fixed;
    width: 100vw;
    height: 60px;
    padding: 8px 16px;
    margin: 0;
    background: #3b4001;
    top: 0;
}

.nav li {
    display: inline;
    min-width: 200px;
    padding: 10px 20px;
    color: #ccff8e;
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.nav li a {
    font-weight: bold;
    text-decoration: none;
    color: #ccff8e;
}

.nav li a.active {
    text-decoration: underline;
}

.nav button {
    display: inline-block;
    padding: 0 32px;
    border-radius: 0;
    border: 1px solid #ccff8e;
    background-color: transparent;
    color: white;
    font-size: 1em;
    font-weight: bold;
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
    cursor: pointer;
}

.nav button:hover {
    background-color: #ccff8e;
    color: #3b4001;
}


/* app */

body {
    background-color: #f4d6ff;
}

.main {
    margin-top: 90px;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h3 {
    margin: 20px 30px;
}


/* login */

.login {
    display: block;
    width: 400px;
    margin: 20vh auto;
    background-color: #45005e;
    color: #fff;
    padding: 20px 30px 40px;
    text-align: center;
}

.login button,
.four-oh-four__btn,
.add-question button,
.question-details__vote-box button {
    margin: 20px auto;
    padding: 10px 30px;
    font-weight: bold;
    background-color: #b0f;
    color: #ffef00;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    display: block;
    text-decoration: none;
}

.login button:hover,
.four-oh-four__btn:hover,
.add-question button:hover,
.question-details__vote-box:hover {
    color: #b0f;
    background-color: #ffef00;
}

.add-question button:disabled {
    opacity: 0.2;
}


/* 404 */

.four-oh-four {
    display: block;
    width: 400px;
    margin: 20vh auto;
    background-color: #45005e;
    color: #fff;
    padding: 20px 30px 40px;
    text-align: center;
}

.four-oh-four__btn {
    display: block;
}


/* home */

.question,
.question-details__vote-box {
    display: inline-block;
    margin: 20px;
    padding: 20px 30px;
    text-align: center;
    border: 2px solid #3b4001;
    background-color: #ccff8e;
    color: #3b4001;
    text-decoration: none;
    box-shadow: 0px 2px 8px rgb(240, 77, 77);
}

.question:hover,
.question-details__vote-box:hover {
    box-shadow: 0px 2px 12px rgb(233, 44, 44);
    border: 2px solid rgb(233, 44, 44);
}

.filter {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.filter__btn {
    margin: 20px 0;
    padding: 10px 30px;
    font-weight: bold;
    background-color: #45005e;
    color: #77755d;
    text-transform: uppercase;
    cursor: pointer;
}

.filter__btn--selected {
    background: #b0f;
    color: #ffef00;
}

.filter__btn:hover {
    color: #fff;
}


/* add question */

.add-question {
    display: block;
    width: 600px;
    margin: 20vh auto;
    background-color: #45005e;
    color: #fff;
    padding: 20px 30px 40px;
    text-align: center;
}

.add-question input {
    padding: 15px;
    color: purple;
    font-size: 1.2rem;
    width: 70%;
}


/* question details */

.question-details,
.leaderboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question-details__author,
.leaderboard__user {
    display: flex;
    width: 400px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0 0;
    background-color: #45005e;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

.question-details__author img {
    width: 30%;
}

.question-details .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    align-items: center;
    margin: 40px 0;
}

.question-details__vote-box {
    flex-grow: 2;
}

.question-details__vote-box .score {
    font-size: 2rem;
}


/* leaderboard */

.leaderboard h2 {
    margin: 40px auto 0px;
}

.leaderboard__user .avatar {
    width: 30%;
    position: relative;
    margin: 10px 0px;
}

.leaderboard__user .avatar img {
    width: 100%;
}

.leaderboard__user .avatar .score {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    top: -5px;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    text-shadow: 4px 4px purple;
    opacity: 0.6;
}